@media (min-width: 1200px) {
    h1 {
        font-size: calc(1.375rem + 1.5vw);
    }

    h2 {
        font-size: calc(1.2rem + 1.3vw);
    }
}

#navbar {
    background-color: var(--bs-white);
    transition: transform 0.5s;
}

.hideNav {
    transform: translateY(-100%);
}
.showNav {
    transform: translateY(0);
}

a.nav-link.active, a.nav-link:hover {
    color: rgb(149, 0, 255) !important;
}

a.nav-link:focus {
    color: inherit;
}

.nav-link {
    color: var(--bs-dark);
    font-weight: 700;
}

.btn {
    font-weight: 700;
    background-color: var(--bs-white);
    color: var(--bs-dark);
    border: 2px solid var(--bs-dark);
    border-radius: 0.5em;
    
    transition: background-color 0.2s ease, color 0.2s ease;
}

.btn:hover {
    background-color: var(--bs-dark);
    color: var(--bs-white);
}

.btn:focus {
    box-shadow: 0 0 0 0.15rem var(--bs-dark) !important;
}

.dropDownButton.active {
    background-color: var(--bs-dark) !important;
    color: var(--bs-white);
}

.navbar-toggler:focus {
    box-shadow: none !important;
    border-width: 0px !important;
}

@media (min-width: 361px) and (max-width: 500px) {
    .dropdown {
        margin-right: 0px !important;
    }
}


@media (min-width: 3000px) {
    main {
        max-width: 2500px;
    }
}

@media (max-width: 170px) {
    nav {
        overflow: scroll;
    }
    #content {
        word-break: break-all;
    }
}

.dropdown-menu {
    padding-top: 0px;
    padding-bottom: 0px;
    border-width: 1px;
    border-color: var(--bs-dark);
}

.dropdown-item:hover {
    color: white;
    background-color: var(--bs-dark);
}

#slideOne {
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(149, 0, 255);
    background-image: url('../resources/slide_one.jpg');
}

#slideTwo {
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(149, 0, 255);
    background-image: url('../resources/slide_two.jpg');
}

#slideThree {
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(149, 0, 255);
    background-image: url('../resources/slide_three.jpg');
}

p {
    text-align: justify;
    font-size: calc(1rem + 0.5vw) !important;
}


#content a:visited, #content a:active {
    color: #804180;
}

main {
    padding: 0rem 1rem;
}

footer {
    word-wrap: break-word;
    color: black;
    padding: 2rem 2rem;
}

h2 {
    color: rgb(149, 0, 255);
}

#gotopbutton {
    width: fit-content;
    border: 0px;
    background-color: transparent;
    position: fixed;
    bottom: 0;
    right: 0;
}

.hidden {
    display: none;
}

.penalties {
    background: rgba(17, 255, 34, 0.4) !important;
}

.addedtime {
    background: rgba(1, 153, 255, 0.4) !important;
}

#tartalomraugras {
    position: absolute;
    left: -9999px;
}

/* table styles */

.table {
    border-color: var(--bs-dark);
    background-color: var(--bs-gray-400);
}

thead, thead th, thead tr {
    color: white;
    background-color: black!important;
    border-width: 2px !important;
    border-color: var(--bs-dark);
}


details summary {
    margin-bottom: 1em;
    padding: 0.2em 0.5em;
    width: fit-content;
}

details summary::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

details div {
    background-color: rgba(0, 0, 0, 0.116);
}

tbody > tr:nth-child(odd) {
    background-color: rgb(220, 220, 220);
}

tbody > tr:hover {
    background-color: rgba(149, 0, 255, 0.5) !important;
    color: white;
}

/* form styles */

.form-control:focus, textarea:focus, input[type="text"]:focus, input[type="email"]:focus, input[type="checkbox"]:focus, input[type="radio"]:focus {
    border-color: var(--bs-primary);
    box-shadow: 0 0 0 0.15rem var(--bs-primary) !important;
}

input, textarea {
    border-color: var(--bs-dark) !important;
    border-width: 2px !important;
}

caption {
    caption-side: top;
    color: var(--bs-dark);
}